.col-md-10{
  margin-top: 20px;
}
.row{
  margin-top: 35px;
}
.overlay {
    position: absolute;
    background: rgba(0,0,0,0.7);
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    cursor: pointer;
}

.overlay h1 {
    text-align: center;
    font-size: 5em;
    color: #fff;
    margin: 2em 0 0;
    padding: 0;
    line-height: 1em;
}
